
<div class="container_footer">

    <p>Theme <a href="https://github.com/stintosestudios/hexo_sitesource/tree/master/themes/dark_and_cool">&#34;dark_and_cool&#34;</a> by <a href="https://github.com/stintosestudios">stintose</a></p>
    <p>Powered by <a href="https://hexo.io">hexo.io</a></p>

</div>